/* NAVBAR */
.me-auto {
  letter-spacing: 4px;
  /* transition: all 0.5s ease-in-out; */
  }
  
  a:hover{ 
    color: #fff;
    letter-spacing: 2px; 
    transition: all 0.5s
  }

/* MAIN page */
.emojiButton {
  padding-bottom: 40px;
}

.meetCricket {
  color: darkblue;
  padding-bottom: 10px;
  padding-top: 40px;
  font-size: 75px;
}

.meetCricketSub {
  color: darkblue;
  padding-bottom: 20px;
}

.carousel {
  width: 650px;
  height: 900px;
}

.carouselCricket {
  width: 650px;
  height: 900px;
  padding-top: 20px;
}

/* ABOUT page */

.aboutParagraphs {
  text-align: center;
  color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 4px;
}

.aboutCricketImages {
 display: block;
 margin-left: auto;
 margin-right: auto;
 cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>❤️</text></svg>") 16 0,auto; 
}

/* BOOKING page */
.bookingHead {
  padding-top: 20px;
}

.bookingParagraphs {
  color: black;
  letter-spacing: 4px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.bookingCricketImage {
  width: 350px;
  margin-top: 30px;
  margin-bottom: 25px;
}

.react-calendar { 
 width: 400px;
 max-width: 100%;
 background-color: #fff;
 color: #222;
 border-radius: 8px;
 box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
 font-family: Arial, Helvetica, sans-serif;
 line-height: 1.125em;
}
.react-calendar__navigation button {
 color: #6f48eb;
 min-width: 44px;
 background: none;
 font-size: 16px;
 margin-top: 8px;
}

.bookingKey {
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
}

.bookingForm {
  margin-top: 25px;
  margin-bottom: 25px;
}

/* DONATION page */

.donateHeader {
  margin-top: 25px;
}

.donateSubline {
  margin-top: 10px;
  margin-bottom: 15px;
}

.donateParagraph {
  color: black;
  letter-spacing: 4px;
}

.donationIcons {
  height: 30px;
  width: 30px;
  margin-top: 25px;
  margin-right: 65px;
  margin-bottom: 20px;
}

/* ACCOUNT page */

.accountHeader {
  padding-top: 100px;
  padding-bottom: 10px;
}